.main{
    height: 415px;
    overflow: auto;
}
.main::-webkit-scrollbar {
    display: none;
  }
@media screen and (min-width: 1000px) {
    .ww{
        width: 800px;
        
    }
    .wi{
        width: 25% !important;
    }
}